.task{
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

*{
    font-family: 'Times New Roman', Times, serif;
}

#outer{
    font-size: 20px;
}

#inner{
   font-size: 10px;
}